# Pycache and Python artefacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Data and Checkpoints
*.hdf5
*.ckpt
*.pt
*.pth
*.pkl
dataset_stats.pkl
data/
data*/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/

# Tarballs
*.tar.gz
*.zip
*.png\n*.jpg\n*.log\n*.pdf\n*.aux\n*.log\n*.fdb_latexmk\n*.fls\n*.blg\n*.bbl
